/*---------------------------------------------------resizing------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

img {
  width: 100%;
  height: 100vh;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------Slideshow container----------------------------------------------------- */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 200px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 3em;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
  display: flex;
  justify-content: space-between;
  user-select: none;
  
}
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/*----------------------------------------------------------------Caption text---------------------------------------------------- */
.text {
  color: #0000ff;
  font-size: 15px;
  padding: 8px 12px 0px 12px;
  position: absolute;
  width: auto;
  top: 92vh;
  left: 10px;
  border: 1px solid black;
  background-color: rgba(233, 113, 58);
  border-radius: 5px;
  font-size: 1em;
  opacity: 0.8;
  text-align: justify;
}

h2{
  font-weight: bold;
}

/*------------------------------------------------------------Number text-------------------------------------------------------------*/
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 28vh;
  background-color: #717171;
  font-size: 1.2em;
  left: 10px;
}


/*------------------------------------------------The dots/bullets/indicators------------------------------------------------------------- */
.dots{
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.action {
  background-color: #717171;
}

/*--------------------------------------------------------text to presented a company-------------------------------------------------------------*/

.com{
  text-align: justify;
  margin: 3em 0 6em 0;
  font-size: 2em;
  
  
}

.com h2{
  margin-bottom: 2em;
  font-size: 2em;
  text-align: center;
}
button{
  padding: 4em 4em;
  margin-bottom: 30em;
  margin-left: 39%;
  background-color: rgb(233, 113, 58);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1em;
}

button a:hover{
  color: #0000ff;
}








/*------------------------------------------------style form -------------------------------------------------------------------*/


fieldset{
  margin: 12px;
  padding: 20px;
  border: 1px solid black;
 
  
}
legend{
  font-size: 1em;
}








  



  

